<p id="notice"><%= notice %></p>

<p>
  <strong>Column:</strong>
  <%= @intervention2.column_id %>
</p>

<%= link_to 'Edit', edit_intervention2_path(@intervention2) %> |
<%= link_to 'Back', intervention2s_path %>
