<%= form_with(model: interventions, local: true) do |form| %>
  <% if interventions.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interventions.errors.count, "error") %> prohibited this interventions from being saved:</h2>

      <ul>
      <% interventions.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
